@import url('https://fonts.googleleapis.com/css2?family=PT+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  justify-content: center;
}
.App {
  background: black;
  border-radius: 999px;
  display:inline-block;
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.post__div {
display:inline-block;
position:relative;
justify-content: center;



}



.routes {
  color:rgb(3,169,242);
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  
  
  
}

.card {
  padding: 25px;
  display:flex;
  justify-content: space-evenly;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  
  
}

.card:hover {
  transform: scale(1.07);
  transition: transform 100ms ease-in;
  border-left:10px solid red;
  border-right:10px solid red;
}


.card:hover:active {
  border-left:10px solid red;
}

.card-image {
  height:250px;
  width:330px;
  border:black;
  border-top-left-radius: 999px;
  border-bottom-right-radius: 999px;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  border: 5px solid rgb(56, 56, 56);
  position:absolute;
  
}

.card-image:hover {
  border:5px solid red;
  transform: scale(1.07);
  transition: transform 100ms ease-in;
  overflow:visible;
}



.card-content {
  background-color: #7e57c2;
  color:blue;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  
}

div .card-content {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

div .card-content:hover {
  
}

div .card-reveal {
  background-color: grey;
}

.form-container {
  width:800px;
}

.single_post .card-action button {
  color:navy;
  font-size: large;
  display:flex;
}

 #root {
  background-color:navy;
}
