.App {
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.post__div {
display:table-row-group;
justify-content: center;
align-items: center;
position:relative




 
    
}

.routes {
  position:relative
}

